@import "~antd/dist/antd.css";

.ant-layout {
  background: #fff;
}

.col-plan {
  background: rgba(24, 144, 255, 0.2);
}

.col-fact {
  background: rgba(0, 255, 13, 0.2);
}

.ratio-green {
  color: rgb(0, 212, 0);
}

.ratio-red {
  color: rgb(255, 46, 57);
}
